@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './mixins';
@import './fonts';
@import './vars';
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/Hero/hero';
@import '../components/ThreeReasons/three';
@import '../layout/layout';

* {
  box-sizing: border-box;
  margin: 0;
  // outline: 1px solid rgb(247, 171, 64);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #181b1f;
  font-family: 'Gilroy Light';
  color: #fff;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}
.App {
  min-height: 100vh;
  margin: 0 auto;
}
