.hero {
  display: flex;
  margin-top: 50px;
  &__text {
    flex: 40%;
    margin-top: 100px;
    h1 {
      font-size: 50px;
      font-family: 'Gilroy ExtraBold';
      font-weight: 600;
    }
    p {
      font-size: 26px;
      color: #fff;
      opacity: 80%;
      font-family: 'Poppins';
      font-weight: 300;
    }
  }
  &__line {
    @include line(3px, 188px);
    margin: 30px 0;
  }
  &__images {
    flex: 60%;
    position: relative;
    animation: floatingEffect 2s infinite alternate linear;
    img {
      position: absolute;
      // animation: rotateAnimation 10s infinite linear;
    }
    &--notebook {
      transition: all 2s ease;
      z-index: -2;
      left: -20%;
    }
    &--phone-one {
      transition: all 2s ease;
      z-index: 0;
      left: 150px;
      top: 120px;
    }
    &--phone-two {
      transition: all 2s ease;
      z-index: -1;
      left: 280px;
      top: 150px;
    }
    &:hover {
      .hero__images--notebook {
        transform: rotate3d(1, 2, 3, 10deg);
        left: -10%;
        top: -5%;
      }
      .hero__images--phone-one {
        transform: rotate3d(1, 2, 3, 10deg);
        left: -15%;
        top: 5%;
      }
      .hero__images--phone-two {
        transform: rotate3d(1, 2, 3, 10deg);
        left: 30%;
        top: 50%;
      }
    }
    &:before {
      content: '';
      width: 500px;
      height: 500px;
      position: fixed;
      border-radius: 50%;
      transform: translate(60%);
      background: #00f0ff;
      opacity: 0.5;
      filter: blur(175px);
      z-index: -4;
    }
    &:after {
      content: '';
      width: 500px;
      height: 500px;
      position: fixed;
      border-radius: 50%;
      transform: translate(0%, 40%);
      background: #3360ff;
      opacity: 0.5;
      filter: blur(175px);
      z-index: -4;
    }
  }
}
@keyframes floatingEffect {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}